body {
  background-image: url(./img/2.jpg);
  background-repeat: no-repeat;
  background-blend-mode:overlay;
  background-color: rgb(44, 43, 44);
  background-position: center;
  background-size: 100%;
  /* width:100%; */
  /* height:50px; */
  margin: 0px;
}



.header {
  background-color: darkgrey;

}

.sechend {
 
  background-color: black;
}



.rightmenu
{
 
  padding-right: 30px;
  font-size: 20px;
  padding-top: 20PX;
  padding-bottom: 20px;
  text-shadow: 2px 2PX 8PX BLACK;
}

.bgimage {
    src: url(./img/photo-1560759995-d237fb70a79d_1200x768.webp);
}

.header {
  display: flex; /* or inline-flex */
}
  
.leftmenu { 
  text-transform:uppercase;
font-family: 'Zen Loop', cursive;
  text-shadow: 2px 2px 8px white;
  font-weight:lighter;
  padding-left: 40px;
  padding-top: 10px;
  font-size: 20px;
  
}





.fa {
    padding: 20px;
    width: 12px;
    text-align: center;
    text-decoration:none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.12;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
  
  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
  }
  
  .fa-skype {
    background: #00aff0;
    color: white;
  }
  


#secondbox {
  margin-top: 160px;
  margin-left: 150px;
  width: 500px;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: oblique;
}
#secondbox h1 {
  font-style:normal  ;
  font-size: 47px;
  line-height: 0.4;
}
/* 
#secondbox p {
  text-shadow: rgb(255, 192, 75) 1px 1px 20px;
} */



#funnycartoon {
  /* float: right; */
 
  margin-top: 80px;
  margin-right: 45px;

}

.imh {

  width: 380px;
}


.maincontainer {
  display: flex; 
  justify-content: space-around;
}