BODY {
  background-image: url(./img/240725.jpg);
  width:100%;
  height:50PX;
  margin: 0px;
}



.header {
  background-color: darkgrey;

}

.sechend {
 
  background-color: black;
}



.rightmenu
{
 
  padding-right: 30px;
  font-size: 20px;
  padding-top: 20PX;
  padding-bottom: 20px;
  text-shadow: 2px 2PX 8PX BLACK;
}

.bgimage {
    src: url(./img/photo-1560759995-d237fb70a79d_1200x768.webp);
}

.header {
  display: flex; /* or inline-flex */
}
  
.leftmenu { 
  text-transform:uppercase;
font-family: 'Zen Loop', cursive;
  text-shadow: 2px 2px 8px white;
  font-weight:lighter;
  padding-left: 40px;
  padding-top: 10px;
  font-size: 20px;
  
}





.fa {
    padding: 20px;
    width: 12px;
    text-align: center;
    text-decoration:none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.12;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
  
  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
  }
  
  .fa-skype {
    background: #00aff0;
    color: white;
  }
  
  .fa-android {
    background: #a4c639;
    color: white;
  }
  
  .fa-vimeo {
    background: #45bbff;
    color: white;
  }
   
.mainarea {
  
  padding-right: 21PX;
  width:200px;
  background-color: brown;
  font-weight: bold;
  font-style: oblique;
  text-transform: capitalize;
  line-height: 1.5em;
  letter-spacing: 0.1.2em;
  word-spacing: 2.8;
  text-align:center;
  


}


.bodyare {
  display: flex;
  
}